$background-color: #18191a;
$main-color: #caf0f8;
$primary-color: #242526;
$primary-border-color: #3a3b3c;
$positive-action-color: cornflowerblue;
$negative-action-color: dimgray;

$border-radius: 10px;
$primary-border: solid 1px $primary-border-color;