@import 'palette';

#main {
  width: 100%;
  height: 90vh;
  margin: auto;
}

table {
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 2% auto;
}

.error-message {
  background-color: red;
  text-align: center;
}

#login-main-container {
  position: relative;
  top: 20%;
  left: 30%;
  width: 40%;
  height: 55%;
  background-color: $primary-color;
  border: $primary-border;
  border-radius: $border-radius;

  #login-form-container {
    //margin: auto;
    width: 80%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media (max-device-width: 1000px) {
  #login-main-container {
    width: 90%;
    left: 5%;
  }
}
