{% extends "base.html" %}
{% load static %}
{% block extra-css %}
    <link type="text/x-scss" href="{% static 'style/login.scss' %}" rel="stylesheet" media="screen">
{% endblock extra-css %}
{% block content %}
    <div id="login-main-container">
        <div id="login-form-container">
            <form method="post" action="{% url 'change_password' %}">
                {% csrf_token %}
                <table>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <tr>
                                    <td colspan="2" class="error-message">{{ error }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td>{{ form.old_password.label_tag }}</td>
                        <td>{{ form.old_password }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password1.label_tag }}</td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{ form.new_password1.help_text }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password2.label_tag }}</td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{ form.new_password2.help_text }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Change password">
                            <input type="hidden" name="next" value="{{ next }}">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

{% endblock %}