{% extends "base.html" %}
{% load static %}
{% block extra-css %}
    <link type="text/x-scss" href="{% static 'style/login.scss' %}" rel="stylesheet" media="screen">
{% endblock extra-css %}
{% block content %}
    <div id="login-main-container">
        <div id="login-form-container">
            <form method="post">
                {% csrf_token %}
                <table>
                    {% if messages %}
                        {% for message in messages %}
                            <tr>
                                <td colspan="2" class="error-message">{{ message }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <tr>
                                    <td colspan="2" class="error-message">{{ error }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td>{{ form.email.label_tag }}</td>
                        <td>{{ form.email }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><p>Enter your account's email address, to send a reset email.</p></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Send reset email">
                            <input type="hidden" name="next" value="{{ next }}">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

{% endblock %}